.contppalpedido{
    @include grids(grid, repeat(2, 45vw), auto, 2vw, 15px 4vw);
    ul{
        width: 100%;
    }
    img{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .contppalpedido{
        @include grids(grid, 92vw, repeat (2, auto), 15px, 20px 4vw);
        ul{
            width: 100%;
        }
        img{
            width: 100%;
        }
    }   
}