.maincontacto{
    text-align: center;
}
.contcentral{
    @include grids(grid, 45vw 45vw, auto auto, 2vw, 15px 4vw);
    grid-template-areas:
    "contacto1 contacto3"
    "contacto2 contacto3";
}

.contacto1{
    grid-area: contacto1;
    align-self: center;
}
.contacto2{
    grid-area: contacto2;
}
.contacto3{
    grid-area: contacto3;
}

@media (max-width: 768px){
    .contcentral{
        @include grids(grid, 90vw, repeat(3, auto), 2vw, 15px 4vw);
        grid-template-areas:
        "contacto1"
        "contacto2"
        "contacto3";
    }
    
}
