.mainhistoria{
    @include grids(grid, repeat(3, 15vw) 44vw, repeat(2, auto), 1vw, 30px 4vw);
    grid-template-areas:
    "img1 img1 img1 texto"
    "img2 img3 img4 texto";
}
.hist1{
    grid-area: img1;
    justify-self: center;
    width: 80%;
}
.hist2{
    grid-area: img2;
    width: 100%;
}
.hist3{
    grid-area: img3;
    width: 100%;
}
.hist4{
    grid-area: img4;
    width: 100%;
}
.contppalhistoria{
    width: 100%;
    grid-area: texto;
    text-align: center;
    margin-bottom: 15px;
}
@media (max-width:768px){
    .mainhistoria{
    @include grids(grid, repeat(3, 30vw), repeat(3, auto), 1vw, 30px 4vw);
    grid-template-areas:
    "img1 img1 img1"
    "texto texto texto"
    "img2 img3 img4";
    }
}