.contppalpedido{
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: auto;
    gap: 2vw;
    margin: 15px 4vw;
    ul{
        width: 100%;
    }
    img{
        width: 100%;
    }
}