.maincontacto{
    text-align: center;
}
.contcentral{
    display: flex;
    margin: 15px;
}
.contacto1, .contacto2{
    width: 50%;
    margin: 50px;
}
.contacto1{
    font-family: 'Raleway', sans-serif !important;
}