.contcentral{
    @include grids(grid, 45vw 45vw, auto auto, 2vw, 15px 4vw);
    grid-template-areas:
    "contacto1 contacto2"
    "contacto1 contacto3";
}

.contacto1{
    grid-area: contacto1;
}
.contacto2{
    grid-area: contacto2;
    margin-left: 36px;
}
.contacto3{
    grid-area: contacto3;
    margin-left: 36px;
}

@media (max-width: 768px){
    .contcentral{
        @include grids(grid, 90vw, repeat(3, auto), 2vw, 15px 4vw);
        grid-template-areas:
        "contacto1"
        "contacto2"
        "contacto3";
    }
    .contacto2{
        margin-left: 13px;
    }
    .contacto3{
        margin-left: 13px;
        iframe{
            width: 350px;
            height: 270px;
        }
    }
}
