.contactanos{
    background-color: darken(nth($paletacolores , 3),0.3);
    text-align: center;
    @include grids(grid, repeat(2, 45vw), 500px , 2vw, 0);
    grid-template-areas:
    "section img";
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 36px;

    img{
        width: 100%;
        object-fit:contain;
        height: 90%;
        align-self: center;
        justify-self:right;
        grid-area: img;
    }
    section{
        grid-area: section;
        p{
            padding-bottom: 30px;
        }
        a{
            font-family: $font-ppal;
        }
    }
}

@media (max-width: 765px){
    .contactanos{
        @include grids(grid, auto, repeat(2, auto), 0, 0);
        grid-template-areas: 
        "img"
        "section";
        margin-top: 36px;
    }
    .contactanos section{
        align-self: center;
        padding-top: 0;
        margin-bottom: 30px;
    }
    .contactanos section h2{
        margin-top: 0;
    }
}