.parte2 img{
    width: 100vw;
    margin-top: 30px;
    height: 500px;
    object-fit: cover
}

@media (max-width: 768px) {
    .parte2 img {
        height: 350px;
    }
}

.subtitulo {
    text-align: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 10px;
}

.conoceprod {
    @include grids(grid, repeat(2, 45vw), repeat(3, auto), 2vw, 10px 4vw);
    grid-template-areas:
        "prodindex1 prodindex2"
        "prodindex3 prodindex4"
        "prodindex5 prodindex6";
}

@media (max-width: 768px) {
    .conoceprod {
        @include grids(grid, auto, repeat(6, auto), 1vw, 4vw);
    }
}

.prodindex1 {
    grid-area: prodindex1;
    width: 100%;
}

.prodindex2 {
    grid-area: prodindex2;
    width: 100%;
}

.prodindex3 {
    grid-area: prodindex3;
    width: 100%;
}

.prodindex4 {
    grid-area: prodindex4;
    width: 100%;
}

.prodindex5 {
    grid-area: prodindex5;
    width: 100%;
}

.prodindex6 {
    grid-area: prodindex6;
    width: 100%;
}