.parte2 img{
    width: 100vw;
    margin-top: 30px;
    height: 600px;
    object-fit: cover
}

@media (max-width: 768px) {
    .parte2 img {
        height: 350px;
    }
}

.subtitulo {
    text-align: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 10px;
}

.conoceprod {
    @include grids(grid, repeat(2, 45vw), repeat(3, 400px), 2vw, 10px 4vw);
    grid-template-areas:
        "prodindex1 prodindex2"
        "prodindex3 prodindex4"
        "prodindex5 prodindex6";
}

.prodindex1, .prodindex2, .prodindex3, .prodindex4, .prodindex5, .prodindex6 {
    div{
        position: absolute;
        img{
            // height: 400px;
            width: 45vw;
            filter: brightness(0.8);
            &:hover{
                filter: brightness(0.6);
            }
        }
    }
}
.encima{
    height: 400px;
    width: 45vw;
    text-align: center;
    opacity: 0.6;
    justify-items: center;
    overflow: hidden;
    a {
        text-decoration: none;
        p{
            color: nth($paletacolores, 8);
            font-size: map-get($formato, sizeProductos);
            font-weight: map-get($formato, peso2);
            margin-top: 120px;
        }  
    }
    &:hover{
        transform: scale(1.4);
        transition: 0.5s;
        opacity: 0.8;
    }
}
#dospalabras{
    margin-top: 80px;
}
#trespalabras{
    margin-top: 33px;
}
.prodindex1{
    grid-area: prodindex1;
}
.prodindex2 {
    grid-area: prodindex2;
    height: 100%;
    width: 100%;
}

.prodindex3 {
    grid-area: prodindex3;
    width: 100%;
    height: 100%;
}

.prodindex4 {
    grid-area: prodindex4;
    width: 100%;
    height: 100%;
}

.prodindex5 {
    grid-area: prodindex5;
    width: 100%;
    height: 100%;
}

.prodindex6 {
    grid-area: prodindex6;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .conoceprod {
        @include grids(grid, 92vw, repeat(6, 400px), 0px, 0 4vw);
        grid-template-areas:
        "prodindex1"
        "prodindex2"
        "prodindex3"
        "prodindex4"
        "prodindex5"
        "prodindex6";
        .prodindex1, .prodindex2, .prodindex3, .prodindex4, .prodindex5, .prodindex6{
            div img{
                object-fit: contain;
                width: 92vw;
                height: 95%;
                &:hover{
                    filter: brightness(0.6);
                }
            }
        }
        .encima{
            height: 400px;
            width: 92vw;
            p{
                text-align: center;
            }
            &:hover{
                transform: scale(1.2);
                transition: 0.5s;
                opacity: 0.8;
            }
        }
    }
    #trespalabras{
        margin: 0px;
    }
    #pal-larga{
        font-size: 70px;
    }
}